/* Mobile First */
/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto',sans-serif;
    color: rgb(50, 84, 153);
    background-color: #fff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(20 57 108)

}
img {
    max-width: 100%;
    height: auto;
    align-self: center;
}
/* Header Styling */
ul {
    list-style: none;
    padding-left: 0;
}

header {
    font-family: "Roboto", Arial, Verdana;
    font-size: 1em;
    background-color: #ecfbff;
    padding: 25px;
}
h1, p, .top-nav, .portfolio-header {
    text-align: center;
}
.top-nav, .top-nav li {
    width: 100%;
}
h1 a, .top-nav a, .col {
    color: rgb(20 57 108);
}
.top-nav {
    margin-top: 30px;
}
.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff;
}
.top-nav a {
    text-transform: uppercase;
}
.profile-photo {
    display: flex;
    flex-direction: column;
}
.profile-pic {
    max-width: 75%;
    margin-top: 35px;
    margin-bottom: 30px;
}
.profile-intro {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4em;
}
/* Hides full nav menu in mobile view */
.full {
    display: none;
}
/* Portfolio Styling */
.container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.portfolio-header {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 45px;
}
.portfolio-header, 
.contact-header {
    color: rgb(20 57 108);
}
.col {
    margin: 10px;
    min-height: 250px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
}
.col h2 {
    font-size: 1.3em;
    margin-top: 25px;
    margin-bottom: 10px;
}
.col p {
    padding: 5px 10px 20px;
}
.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
    background-color: #d4f1f9;
    margin-bottom: 20px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecfbff;
    padding: 5px 10px 20px;
    border-bottom: 1px solid #6b7577;
}
.contact-header {
    font-size: 1.1em;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 25px;
}
/* Footer Styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
    background-color: #ecfbff;
}
.top {
    text-transform: uppercase;
}
/* Media Queries*/

/* 768px viewport */
@media ( min-width: 768px) {
    .top-nav {
    margin-top: 0;
   }
   .top-nav li {
       display: inline-block;
       width: auto;
       margin-right: 15px;
       background-color: transparent;
   }
   .top-nav li:last-child {
       margin-right: 0;
   }
   .top-nav a {
       color: #fff;
   }
   .container {
       display: flex;
       flex-wrap: wrap;
   }
   .col {
       flex-basis: calc(50% - 20px);
   }
   .top {
       display: none;
   }
   .full {
       display: inline-block;
       margin-left: 20px;
   }
}

/* 1024px viewport */
@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top-nav,
    .top-nav li {
        width: initial;
        margin-bottom: 0;
    }
    .col {
        flex-basis: calc(33.333% - 20px);
    }
}